# Prerequisites
*.d

# Machine files
machinefile_*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Annoying fortran write files
fort.*

# Emacs backup files
*~
#*#

# Output files
bestPerformers.dat
historyFile.dat
restartFile.dat

# Temporary files
test*.dat
temp*.dat